<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="fa fa-table"></span> MyTimeTable</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="" href="dashboard"><span class="fa fa-user"></span> ADMIN</a></li>
                <li><a class="link" href="#login"><span class="fa fa-sign-in"></span> LOGIN</a></li>
                <li><a class="link" href="#about"><span class="fa fa-tag"></span> ABOUT</a></li>
                <li><a class="link" href="#sign-up"><span class="fa fa-drivers-license"></span>SIGN UP</a></li>
                <li><a class="link" href="#contact"><span class="fa fa-mobile-phone"></span> CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>