<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <% include ./partials/navbar-dashboard %>

    <div class="container page">
        <div class="row content">
            <div class="col-sm-12">
                <div class="container-fluid">
                    <div class="col-sm-3 lead">
                        <a href="/dashboard/settings">General Settings</a>
                    </div>
                    <div class="col-sm-3 lead">
                        <a href="/dashboard/classes">Manage Classes</a>
                    </div>
                    <div class="col-sm-3 lead">
                        <a href="/dashboard/subjects">Manage Subjects</a>
                    </div>
                    <div class="col-sm-3 lead">
                        <a href="/dashboard/creator">Timetable Creator</a>
                    </div>
                </div><br>
                <button type="button" class="btn btn-primary">Reset</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>

        </div>
    </div>

    <br><br>

    <% include ./partials/footer %>

    <script src="assets/ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>