<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="assets/ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            background-color: #4700b3;
            z-index: 9999;
            border: 0;
            font-size: 12px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
            font-family: Montserrat, sans-serif;
        }

        .navbar li a,
        .navbar .navbar-brand {
            color: #fff !important;
        }

        .navbar-nav li a:hover,
        .navbar-nav li.active a {
            color: #4700b3 !important;
            background-color: #fff !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

        .row.content {
            height: 550px
        }
        /* Set gray background color and 100% height */

        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }
        /* On small screens, set height to 'auto' for the grid */

        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }

        .logo-small {
            color: #4700b3;
            font-size: 50px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body id="myPage">
    <% include ./partials/navbar %>
    <br>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>Welcome Admin</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#home"><span class="fa fa-home"></span> Home</a></li>
                    <li><a href="#new"><span class="fa fa-file-pdf-o"></span> Download as pdf</a></li>
                </ul><br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search subject...">
                    <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="container-fluid">
                    <h2>TimeTable Work Space</h2>
                    <p>Create your table by simply clicking the empty cells:</p>
                    <div class="">
                        <table class="">

                            <tr>
                                <th></th>
                                <th>Class</th>
                                <th>8:20-9:00</th>
                                <th>9:00-9:40</th>
                                <th>9:40-10:20</th>
                                <th>10:20-10:30</th>
                                <th>10:30-11:10</th>
                                <th>11:10-11:50</th>
                                <th>11:50-12:30</th>
                                <th>12:30-1:00</th>
                                <th>1:00-1:40</th>
                                <th>1:40-2:20</th>
                            </tr>


                            <tr>
                                <th rowspan="3">MONDAY</th>
                                <th>JSS1</th>
                                <td id="js1Mon1" onclick="editCell('js1Mon1')"></td>
                                <td id="js1Mon2" onclick="editCell('js1Mon2')"></td>
                                <th rowspan="15">SHORT BREAK</th>
                                <td id="js1Mon3" onclick="edit3()"></td>
                                <td id="js1Mon4" onclick="edit4()"></td>
                                <td id="js1Mon5" onclick="edit5()"></td>
                                <td rowspan="15"></td>
                                <td id="js1Mon6" onclick="edit6()"></td>
                                <td id="js1Mon7" onclick="edit7()"></td>
                                <td id="js1Mon8" onclick="edit8()"></td>

                            </tr>

                            <tr>
                                <th>JSS2</th>
                                <td id="js2Mon1" onclick="edit9()"></td>
                                <td id="js2Mon2" onclick="edit10()"></td>
                                <td id="js2Mon3" onclick="edit11()"></td>
                                <td id="js2Mon4" onclick="edit12()"></td>
                                <td id="js2Mon5" onclick="edit13()"></td>
                                <td id="js2Mon6" onclick="edit14()"></td>
                                <td id="js2Mon7" onclick="edit15()"></td>
                                <td id="js2Mon8" onclick="edit16()"></td>
                            </tr>

                            <tr>
                                <th>JSS3</th>
                                <td id="js3Mon1" onclick="edit17()"></td>
                                <td id="js3Mon2" onclick="edit18()"></td>
                                <td id="js3Mon3" onclick="edit19()"></td>
                                <td id="js3Mon4" onclick="edit20()"></td>
                                <td id="js3Mon5" onclick="edit21()"></td>
                                <td id="js3Mon6" onclick="edit22()"></td>
                                <td id="js3Mon7" onclick="edit23()"></td>
                                <td id="js3Mon8" onclick="edit24()"></td>
                            </tr>

                            <tr>
                                <th rowspan="3">TUESDAY</th>
                                <th>JSS1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th class="test">JSS2</th>
                                <td class="test"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th>JSS3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th rowspan="3">WEDNESDAY</th>
                                <th>JSS1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th>JSS2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th>JSS3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th rowspan="3">THURSDAY</th>
                                <th>JSS1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th>JSS2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th>JSS3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th rowspan="3">FRIDAY</th>
                                <th>JSS1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th>JSS2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th>JSS3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <th></th>
                                <th>Class</th>
                                <th>8:20-9:00</th>
                                <th>9:00-9:40</th>
                                <th>9:40-10:20</th>
                                <th>10:20-10:30</th>
                                <th>10:30-11:10</th>
                                <th>11:10-11:50</th>
                                <th>11:50-12:30</th>
                                <th>12:30-1:00</th>
                                <th>1:00-1:40</th>
                                <th>1:40-2:20</th>
                            </tr>

                        </table>
                    </div>
                </div><br>
                <button type="button" class="btn btn-primary">Reset</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>

        </div>
    </div>

    <br><br>
    <footer class="container-fluid text-center">
        <p>website developed by <a href="../index.html" title="Visit w3schools">teamtimetable.com</a></p>
    </footer>
    <script src="js/script.js"></script>
</body>

</html>