<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Students' Page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="assets/ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url(img/chicago.jpg);
            background-size: auto;
        }

        .jumbotron {
            background-color: #4700b3;
            color: #fff;
            padding: 1px 25px;
            font-family: Montserrat, sans-serif;
        }
    </style>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>MyTimeTable.com</h1>
        <p>We specialize in educational lecture schedule...</p>
    </div>

    <div class="reg">
        <h2>Enter your class:</h2>
        <hr>
        <div class="col-sm-7">
            <select class="form-control input-sm" id="sel1">
                <% for (let i = 0; i < classes.length; i++)  {  %>
                    <option><%= classes[i].name %></option>
                <% } %>
            </select>
        </div>
        
        <div class="col-sm-5"> <button type="button" class="btn btn-primary btn-block">Generate Timetable</button> </div><br><br>
        
    </div>

</body>

</html>